.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  div {
    width: 64px;
    height: 64px;
    border: 8px solid #d1d5db;
    border-top: 8px solid #cd0049;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}